<div class="viewer-bg">
  <div class="container">
    <div class="span2">
      &nbsp;
    </div>
    <div class="span8 margin-center">
      <h1>THIS PAGE IS UNDER CONSTRUCTION</h1>
      <%= image_tag "construction.jpg"%>
      <p>Please waiting until this page is ready, thank you for visiting this page :)</p>
      <%= link_to "back to home page", root_path %>
    </div>
  </div>
</div>